"""
Author: Ms. Sharon Veerayah
Project: Random ML Project
"""

# MACHINE LEARNING ALGORITHM

#### IN this example, we will see Random Forest Classifiers and also the Measures of Accuracy for Classification

## RANDOM FOREST

#### Dataset

https://www.kaggle.com/mohansacharya/graduate-admissions?select=Admission_Predict.csv

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import statsmodels.api as sm
%matplotlib inline

### Load the data

In [20]:
df = pd.read_csv('Admission_Predict.csv')

In [21]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [22]:
print(df.shape)
list(df)

(400, 9)

['Serial No.',
 'GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR ',
 'CGPA',
 'Research',
 'Chance of Admit ']

In [23]:
df.count()

Serial No.           400
GRE Score            400
TOEFL Score          400
University Rating    400
SOP                  400
LOR                  400
CGPA                 400
Research             400
Chance of Admit      400
dtype: int64

In [24]:
list(df)

['Serial No.',
 'GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR ',
 'CGPA',
 'Research',
 'Chance of Admit ']

In [27]:
#data = df[['GRE Score','Research']]
data = df[['GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR ',
 'CGPA',
 'Research']]
data.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

# RANDOM FOREST CLASSIFIER

In [28]:
### Import libaries

In [29]:
# Train Test Split
from sklearn.model_selection import train_test_split
# To fit the model (training and prediction)
from sklearn.ensemble import RandomForestClassifier

# Fro classification report (model evaluation)
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.metrics import roc_auc_score

### Prepare the Dataset

In [32]:
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

### Training and Test Data

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.20, random_state = 51)

## Create model with n trees.
* any n value

In [34]:
# Initial Random Forest
model = RandomForestClassifier(n_estimators=100, bootstrap=True)

In [35]:
#Train the model
model.fit(X_train, y_train)

RandomForestClassifier()

## Predictions

In [36]:
# will be the actual result
pred = model.predict(X_test)

### Probabilities for each class

In [37]:
# will be the predict probability
prob = model.predict_proba(X_test)[:,1]

### ROC Calculation

In [39]:
roc = roc_auc_score(y_test, prob)

#### Goal is to move ROC closer to 1.0

In [40]:
roc

0.8267045454545454

# Model Evaluation

In [ ]:
#### Confusion Matrix

In [41]:
print("Confusion Matrix:")
print(confusion_matrix(y_test, pred))

Confusion Matrix:
[[30  6]
 [12 32]]

### Accuracy Score

In [42]:
print("Accuracy Score:")
print(accuracy_score(y_test, pred))

Accuracy Score:
0.775

#### Using Classification report, let us check the Precision, Recall, f1 score

In [44]:
print("Classification Report:")
print(classification_report(y_test, pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.71      0.83      0.77        36
           1       0.84      0.73      0.78        44

    accuracy                           0.78        80
   macro avg       0.78      0.78      0.77        80
weighted avg       0.78      0.78      0.78        80